<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div v-if="$apollo.loading">Loading...</div>
    <div v-if="!$apollo.loading">
      <ul>
        <li v-for="launch in launches.launches" :key="launch.id">
          {{ `Launch ${launch.mission.name} on ${launch.site}` }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  apollo: {
    launches: gql`
      query launchesQuery {
        launches(pageSize: 5) {
          launches {
            id
            site
            mission {
              name
            }
          }
        }
      }
    `
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
