<template>
  <div>
    <b-card-group columns>
      <LaunchCard
        v-for="launch in launches"
        :key="launch.id"
        :mission="launch.mission"
        :rocket="launch.rocket"
        :launch-id="launch.id"
      ></LaunchCard>
    </b-card-group>
  </div>
</template>

<script>
import LaunchCard from "@/components/LaunchCard";
export default {
  components: {
    LaunchCard
  },
  props: {
    launches: Array
  }
};
</script>

<style lang="scss" scoped></style>
