<template>
  <div>
    <b-card
      overlay
      :img-src="this.backImg"
      :img-alt="`${title} Image`"
      bg-variant="dark"
      text-variant="white"
      :title="this.title"
      :sub-title="this.subTitle"
    >
      <b-button :to="launchLink" variant="primary">View launch details</b-button>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
const unsplashQuery = `https://api.unsplash.com/photos/random?client_id=${process.env.VUE_APP_UNSPLASH_ACCESS_KEY}&query=space&orientation=landscape`;

export default {
  data() {
    return {
      backImg: ""
    };
  },
  props: ["mission", "rocket", "launchId"],
  computed: {
    computedTitle() {
      return `Trip title: ${this.title}`;
    },
    title() {
      return this.mission ? this.mission.name : "";
    },
    subTitle() {
      return this.rocket ? this.rocket.name : "";
    },
    launchLink() {
      return `/launch/${this.launchId}`;
    }
  },
  mounted() {
    axios.get(unsplashQuery).then(r => (this.backImg = r.data.urls.regular));
  }
};
</script>

<style lang="scss" scoped></style>
