<template>
  <div class="home">
    <b-jumbotron class="text-center">
      <template v-slot:header>
        <img alt="Vue logo" src="../assets/logo.png" />Space Explorer
      </template>
    </b-jumbotron>
    <Launches v-if="!$apollo.loading" :launches="launches.launches" />
  </div>
</template>

<script>
// @ is an alias to /src
import Launches from "@/components/Launches";
import gql from "graphql-tag";

export default {
  name: "Home",
  components: {
    Launches
  },
  apollo: {
    launches: gql`
      query launchesQuery {
        launches {
          launches {
            id
            site
            mission {
              name
              missionPatch
            }
            rocket {
              id
              name
            }
          }
        }
      }
    `
  }
};
</script>
