<template>
  <div>
    <b-card no-body v-if="!$apollo.loading">
      <b-row no-gutters>
        <b-col md="6">
          <b-card-img :src="this.img" alt="Image" class="rounded-0"></b-card-img>
        </b-col>
        <b-col md="6">
          <b-card-body :title="launch.mission.name">
            <b-card-text>{{launch.site}} - {{launch.rocket.name}} ({{launch.rocket.type}})</b-card-text>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import gql from "graphql-tag";
const unsplashQuery = `https://api.unsplash.com/photos/random?client_id=${process.env.VUE_APP_UNSPLASH_ACCESS_KEY}&query=space&orientation=squarish`;

export default {
  data() {
    return {
      img: ""
    };
  },
  apollo: {
    launch: {
      query: gql`
        query LaunchById($id: ID!) {
          launch(id: $id) {
            id
            site
            mission {
              name
            }
            rocket {
              id
              name
              type
            }
          }
        }
      `,
      variables() {
        return {
          id: this.$route.params.id
        };
      }
    }
  },
  mounted() {
    axios.get(unsplashQuery).then(r => (this.img = r.data.urls.regular));
  }
};
</script>

<style lang="scss" scoped>
</style>