<template>
  <div>
    <b-container>
      <h1 class="text-center mt-4">
        <b-icon icon="exclamation-triangle" class="mr-2"></b-icon>Wrong place!
      </h1>
    </b-container>
  </div>
</template>